.slider-items {
    background-color: #fff;
    list-style-type: none;
    padding: 1rem;
}

.slider-items-block {
    margin-bottom: 1rem;
}

.slider .swiper-slide {
    margin-bottom: 1rem;
}

.price__menu-cell--style {
    color: $gray;
}

.slider__item-group {
    display: flex;
    justify-content: space-between;
}