.footer {
    padding: 2rem;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    color: $gray;

    .footer__block {
        width: 330px;

        &:nth-child(2) {
            text-align: center;
        }

        &:last-child {
            text-align: right;
        }
    }
}