.price {
    @include serviseBlock;
    @include border-bottom;
    padding-bottom: 95px;
}

.price__menu-wrapper {
    margin-bottom: 50px;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
    overflow: hidden;
}

.price__menu {
    font-size: 14px;
    display: table;
    box-sizing: border-box;
    padding: 0 2rem;
    width: 100%;
    margin-bottom: 32px;
}
    
.price__menu-heading {
    display: table-header-group;
    padding: 0 24px;
    background-color: $bgColor;     
}

.price__menu-row-group {
    display: table-row-group;
    background-color: #fff;
}

.price__menu-row {
    display: table-row;
}
        
.price__menu-items {
    display: table-cell;
    border-bottom: 1px solid $lightGrey;
    width: 18.33%;    
    padding: 23px 25px;
    color: $text;
    vertical-align: middle;

    &:first-child {
        width: 45%;
    }

    &:last-child {
        text-align: right;
    }
}
        
    
.price__menu-cell {
    border-bottom: none;
    display: table-cell;
    padding: 15px 24px;
    color: $gray; 
    padding: 15px 24px;
    color: $gray;
}
    
.price__to-order {
    display: inline-block;
}

.submit-button {
    background-color: $pink;
    color: white;
    display: inline-block;
    padding: 0 15px;
    display: flex;
    border: none;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    font-size: 12px;
    font-family: TTLakes-Medium, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    img {
        margin-left: 15px;
    }
}

.button-to-right {
    float: right;
}

.price__menu-notice {
    width: 50%;
    padding: 0 2rem;
}

.price__menu-get {
    width: 80%;
    margin: 1em 0;
    font-family: TTLakes-Medium, sans-serif;
}

.menu-get__icon {
    margin-left: 9.4px;
}